::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(122, 143, 201, 0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 20px rgba(226, 210, 210, 0.8);  */
    -webkit-box-shadow: inset 0 0 20px rgba(2, 101, 250,0.8);
}
.area {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    display: block;
    
}
.question-header{
    font-family:cursive;
    font-size: 16px;
    /* margin-left: 97%; */
    margin: 2% 0% 3% 0%;
    
      float: left;
      
      font-size: 17px;
      color: rgb(51, 44, 44);
}
.area .content {
    background-color: #FFF;
    width: 50%;
    height: 409px;
    margin:  60px auto;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 10px;
    background-color: #eaeff8;
    overflow-y: scroll;
    overflow-x: hidden;
}
.area .content .btn,.area .content .form-control{
    border-radius: 0px;
    margin-bottom: 5px;
}
/* .area .content .btn,.area .content .form-group{
    margin-bottom: 5px;
} */
.area .content .form{
    position: relative;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    
}
.questionInputField{
    padding: 20px;
    /* border-bottom:3px rgba(122, 143, 201, 0.001) soli */
    

}
.questionInputField:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(51,51,51, .1);
    border-bottom:3px rgb(2, 101, 250) solid;
    /* transition: ease-out 0.3s; */
}
.questionInputField.ng-valid{
    border-bottom:3px rgb(0, 255, 21) solid;
    transition: all 0.3s;
}
.questionInputField.ng-touched.ng-invalid{
    border-bottom:3px rgb(240, 13, 13) solid;
    /* transition: all 0.3s; */
}
.questionInputField:placeholder-shown + .inputFieldLabel {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-4rem);
}
.inputFieldLabel{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-bottom: 0rem;
    display: block;
    transition: all .3s;
}
.btn20{
    background-color: #0aa8d4;
    color: white;
    font-family: lato;
    float: right;
    font-size: 16px;
    padding: 10px 28px;
    font-weight: 500;
}

.btn20:hover{
    background-color: #0887aa;
  
}
.area .content .form textarea {
    width: 100%;
}
.areaText
{
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 5px;
}
.textCloseButt
{
    margin-left: 97%;
      margin-top: -5%;
}
.icon2{
    /* list-style: none; */
    /* float: left; */
    /* margin: 12px; */
    float:right;
    position: absolute;
    top:-2%;
    left: 100%;
    font-size: 21px;
    color: rgb(51, 44, 44);
}
.icon2:hover{
color: rgb(98, 98, 102);
transform: scale(1.3);
cursor:pointer;
}