.navbar {
    height: 10rem;
    background-color: blue;
}
.survey {
    position: relative;
    height: 100vh;
}
.survey .survey-nav {
   /*  display: none; */
    position: absolute;
    width: 20rem;
    height: 100%;
     /* background-color:#35475e; */
    background:linear-gradient(135deg,#344684,#226173),linear-gradient(135deg,#3b3b8c,#226173);
}
.survey .survey-nav .profile {
    height: 8%;
    border-bottom: 1px solid #226173;
}
.survey .survey-nav .profile a {
    display: block;
    text-align: center;
    padding: 11px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
    height: 100%;
    text-decoration: none;
    
}
.survey .survey-nav .profile i {
    color: #1c98d0;
    width: 20px;
    font-size: 23px;
    display: inline-block;
    margin-right: 8px;
}
.survey .survey-nav .survey-title {
    height: 10%;
    padding: .1rem;
    color:#FFF;
    text-align: center;
    position: relative;
}
.survey .survey-nav .survey-title .title {
    position: absolute;
    top:50%;
    left: 50%;
    width: 100%;
    font-weight: 600;
    transform: translate(-50%,-50%);
}
.survey .survey-nav .links {
    height: 70%;

}
.survey .survey-nav .links ul {
    list-style: none;

}
.survey .links ul li {
    border-bottom: 1px solid #226173;;
}
.survey .survey-nav .links ul li a {
    padding: 1.8rem 1.299rem;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    position: relative;
    text-transform: uppercase;
}
.survey .survey-nav .links ul li a.active {
    background-color: #1c98d0;
    color: #e4e2e2;
}
.survey .survey-nav .links ul li a.active:after {
    content: "";
    width: 2%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00c6ff;
}
.survey .survey-nav .links ul li a i {
    width: 20px;
    display: inline-block;
    padding: .1rem;
    margin-right: 8px;
    font-size: 1.82rem;
    color: #12cfda;
}


.survey .survey-router {
    margin-left: 20rem;
    height: 100%;
}
.survey .survey-router .user-header {
    height: 6%;
}
.survey .survey-router .router {
    height: 94%;
    padding: 1rem ;
    background-color: #f7f7f7;
    overflow-y:auto;
    overflow-x:hidden;
}
.area {
    margin: 1px 0;
    background-color: #e2e1e1;
    padding: 4px 1px 4px 8px;

}