<!-- <div class="welcome">
  <h4 class="quote">Welcome to our website we will back soon</h4>
  <a routerLink = '/login'>login</a>
  <a routerLink ='/signup'>signup</a>
  
</div> -->
<div class="header">
  <div class="header-text">
   <div>
      <h1 class="primary-heading">
          <span class='primary-heading-main'>infinity survey</span>
          <span class="primary-heading-sub">
            a place for all surveys
          </span>
        </h1>
   </div>
    <div *ngIf=" this.Auth.isAuthenticated() == false">
      <a routerLink="/signup" class='btn-signup'>signup now</a>
      <a routerLink="/login" class='btn-signup login'>login</a>
    </div>
    <a routerLink="/login" class='btn-signup login' *ngIf=" this.Auth.isAuthenticated()">My Profile</a>
  </div>
</div>
<div class="info">
  <div class="container">
    <div class="row">
        <h2 id="infoheading">app feature</h2>
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="card">
              <div class="icon">
                <i class="fa fa-key fa-5x" aria-hidden="true"></i>
              </div>
              <div class="title">
                Secured
              </div>
              <div class="content">
                make Secured idenity surveys
              </div>
              </div>

              

        </div>
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="card">
              <div class="icon">
                <i class="fa fa-share-alt fa-5x" aria-hidden="true"></i>

              </div>
              <div class="title">
                Sharing
              </div>
              <div class="content">
              make sharing easy  
              </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="card">
              <div class="icon">
                  <i class="fa fa-desktop fa-5x" aria-hidden="true"></i>

              </div>
              <div class="title">
                simple Web app
              </div>
              <div class="content">
                simple website for making survyes
              </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="card">
              <div class="icon">
                  <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
              </div>
              <div class="title">
                simple mobile app
              </div>
              <div class="content">
                simple mobile for making survyes
              </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="card">
              <div class="icon">
                <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>

              </div>
              <div class="title">
                Result
              </div>
              <div class="content">
                beautiful result design
              </div>
              </div>


        </div>
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="card">
              <div class="icon">
                  <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
              </div>
              <div class="title">
                free
              </div>
              <div class="content">
                all functions for free
              </div>
              </div>


        </div>
        
    </div>
  </div>
</div>
