<!-- <app-navbar></app-navbar>
 -->

 <div class="navigation">
    <input type="checkbox" class="navigation_checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation_button">
        <span class="navigation_icon">&nbsp;</span>
    </label>

    <div class="navigation_background">&nbsp;</div>

    <nav class="navigation_nav">
        <ul class="navigation_list">
            <li class="navigation_item"><a href="#" class="navigation_link">home</a></li>
            <li class="navigation_item"><a href="#" class="navigation_link">Add survey</a></li>
            <li class="navigation_item"><a href="#" class="navigation_link">profile</a></li>
            <li class="navigation_item"><a href="#" class="navigation_link">logout</a></li>
            </ul>
    </nav>
</div>

<router-outlet></router-outlet> 
