.user__home {
   position: relative;
   height: 100%;
   width: 100%;
}
.user__home .app-loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user__home .app-loader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}
.user__home .empty-survey {
    width: 90%;
    border:1px solid #000;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.user__home .empty-survey .empty__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aqua;
    width: 65%;
    height: 75%;
}
.user__home .empty-survey .empty__content .bottom #svg4{
    animation: dashed 4s infinite ;
  
}

.surveycontaier{
    padding: 5px;
    height: 92%;
}
.surveycontaier .survey {
    border:1px solid rgb(197, 186, 186);
    height: 250px;
    box-shadow: 1px 1px #000;
    margin-bottom: 6px;
}
 .surveycontaier .survey .title {
    height: 20%;
}
.surveycontaier .survey .title a {
    text-align: center;
    display: block;
    padding: 8px 10px;
    font-size: 18px;
    background-color: #64aceaed;
    color: #333;
    text-decoration: none !important;
   
}
.surveycontaier .survey .title a:hover {
    text-decoration: none !important;
}
.surveycontaier .survey .title a i {
    width: 29px;
    display: inline-block;
    color: #f5f5f5;
    
}
.surveycontaier .survey .title a h4 {
    font-size: 15px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
}

.surveycontaier .survey .info {
    height: 60%;
}

.surveycontaier .survey .info > div {
    height: 25%;
    margin-top: 9px;
}
.surveycontaier .survey .info > div span:nth-child(1){
    text-transform: capitalize;
    display: inline-block;
    padding: 2px 7px;
    width: 50%;
}
.surveycontaier .survey .info .id span:nth-child(1){
    width: 14%;
}
.surveycontaier .survey .controls {
    height: 20%;
}
.surveycontaier .survey .controls > div {
    width: 32.333%;
    display: inline-block;
    height: 100%;
}
.surveycontaier .survey .controls {
    background-color: #dce9f5;
}
.surveycontaier .survey .controls i {
    text-align: center;
    display: block;
    font-size: 25px;
    color: #4e677d;
    padding: 13px 0;
}
.surveycontaier .survey .controls i:hover {
    color: #4e677d;
}

.user__header{
    height: 6%;
    box-shadow: 0px 1px 1px 0px #3333334a;
    margin: auto;
}
 .user__header .add__survey {
    display: inline-block;
    height: 100%;
    float: right;
    margin-right: 30px;
   }
    .user__header label {
    color: #716565;
    display: inline-block;
    margin-left: 4px;
    text-transform: uppercase;
   }
    .user__header input[type="text"]{
    width: 55%;
    margin: 3px 4px;
    height: 80%;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #DDD;
    color: #716565;
    font-size: 15px;
    padding-left: 10px;
   }
    .user__header .add__survey a {
    display: inline-block;
    padding: 10px 10px;
    background-color: #03A9F4;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    height: 100%;
    text-decoration: none;
    position: relative;
    transition: all .15s ease-in-out;
   }
    .user__header .add__survey a:after{
    content: ">>";
    visibility: hidden;
    position: absolute;
    right: -10px;
    font-size: inherit;
   }
    .user__header .add__survey a:hover {
    background-color: #1888bb;
    padding: 10px 20px;
   }
    .user__header .add__survey a:hover:after{
     right: 2px;
     visibility: visible;
   }
  .backdrop {
      z-index: 99;
  }
  .showlink{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #FFF;
    z-index: 99;
    height: 212px;
    width: 88%;
  }

  .showlink .links > div {
      height: 32%;
    }
    .showlink .links .title {
        margin-top: 10px;
        height: 32px;
        text-align: center;
        font-weight: bold;
        font-size: 19px;
        border-bottom: 1px solid #DDD;
        
    }
    .showlink .links .link {
        margin: 15px 0;
        height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid #DDD;
    }
    .showlink .links .close {
        height: auto;
        text-align: center;
        margin: auto;
        width: 100%;
    }
     #close.closebutton{
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        width: 40%;
        margin: auto;
        padding: 16px;
        font-size: 19px;
        font-weight: normal;
        background-color: blue;
    }

@keyframes dashed {
    
    /* 0% {
        stroke-dasharray: 305;
        stroke-dashoffset: 0;
    }
    
    100% {
        stroke-dasharray: 485px;
        stroke-dashoffset: 998px;
    } */
    0% {
        stroke-dasharray: 305;
        stroke-dashoffset: 147;
    }
    
    100% {
        stroke-dasharray: 485px;
        stroke-dashoffset: 998px;
    }
}